$backImg: url('../img/m-h-day.jpg');
$headColor: #2c2f3c;
$buttnColor: #699900;
$txtLnCol: #14a0c7;
$headFontFam: 'Source Sans Pro', sans-serif;
$txtFntFam: 'Hind', sans-serif;
$bnrrGradCol: linear-gradient(to right, #65950e , #2e5dd4);
$hovBtnCol: lighten( $buttnColor, 20% );
