$backImg: url("../img/m-h-night.jpg");
$headColor: #ffffff;
$buttnColor:  #e3ac00;
$txtLnCol:#ff4e33;
$headFontFam: 'Source Sans Pro', sans-serif;
$txtFntFam: 'Fresca', sans-serif;
$bnrrGradCol: linear-gradient(to right, #dea405 , #942e51);
$hovBtnCol: lighten( $buttnColor, 20% );